<ul class="list-group">
  <% @chatroom.each do |chatroom| %>
      <div class="card text-center mt-4">
    <div class="card-header">
      Created by
      <%= chatroom.user.username %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= chatroom.title %></h5>
      <br>
      <%= link_to "Enter Chatroom", chatroom_path(chatroom), class: "btn btn-outline-success" %>
      <% if logged_in? && (chatroom.user == current_user || current_user.admin?) %>
        <%= link_to "Edit Chatroom", edit_chatroom_path(chatroom), class: "btn btn-outline-info" %>
        <%= link_to "Delete Chatroom", chatroom_path(chatroom), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <small>Created <%= time_ago_in_words(chatroom.created_at) %> ago
    </div>
    <br>
    <br>
  </div>
  <% end %>
  </ul>





 

  