<div id="page-content">
	<div class="container">
		<div class="row mt-4">
			
		    <div class="col-sm"><%= link_to "Create Chatrooms", new_chatroom_path, class: "btn btn-primary btn-lg mt-2" %></div>
		    <% if !logged_in? %>
		    	<div class="col-sm"><%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg mt-2" %></div>
		    <% else %>
				<div class="col-sm"><%= link_to "View Profile", user_path(current_user), class: "btn btn-primary btn-lg mt-2" %></div>		    
		    <% end %>
		    <div class="col-sm"><%= link_to "Random Chats", new_chatroom_path, class: "btn btn-primary btn-lg mt-2" %></div>
		</div>
	


  <h1 class="text-center mt-4">All Chatrooms</h1>
  <%= render 'chatroom' %>
  </div>
</div>