<div id="page-content">
	<div class="container">
		<div class="d-flex justify-content-between mt-4">
		    <div class="justify-content-start"><%= link_to "Create Chatrooms", new_chatroom_path, class: "btn btn-primary btn-lg mt-2" %></div>
		    <% if !logged_in? %>
		    	<div class="justify-content-center"><%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg mt-2" %></div>
		    <% else %>
		    	<div class="justify-content-end"><%= link_to "View Profile", user_path(current_user), class: "btn btn-primary btn-lg mt-2" %></div>
		    <% end %>
		</div>
	

	<br>
  <br>
  <div class="row">
  	
  	<div class="col-md-4">
	  	<div class="card" style="min-height: 100vh;">
		  <div class="card-body">
		    <h2 class="card-title">Online Users</h2>
		    <% @users.each do |user| %>
		    	<% if user.status? %>
		    	
	    		<p class="card-text"><div class="d-flex align-items-start">
	    		<% if user.gender =="Male" %>
					<img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle mr-1" alt="William Harris" width="40" height="40">
					<div class="flex-grow-1 ml-3">
					<h6><%= user.username %> </h6>
					<br>
					</div>
					</div>
				<% else %>
					<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="William Harris" width="40" height="40">
					<div class="flex-grow-1 ml-3">
					<h6><%= user.username %> </h6>
					<br>
					</div>
					</div>
				<% end %>
				</p>
				<% end %>
			<% end %>
	  </div>
		</div>
  </div>
  
  <!-- side content -->
   <div class="col-lg-8">
   	<h1 class="text-center">Chatrooms</h1>
   	<br>
  <div class="input-group">
	  <input type="search" class="form-control rounded" placeholder="Search the Chatrooms" aria-label="Search"
	    aria-describedby="search-addon" />
	  <button type="button" class="btn btn-outline-primary">search</button>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @chatroom, :container => false %>
  </div>
  <%= render 'chatroom' %>
  <div class="apple_pagination mb-4">
    <%= will_paginate @chatroom, :container => false %>
  </div>
  </div>
  
  </div>
  </div>
</div>