<div id="page-content">
	<div class="container">
		<div class="d-flex justify-content-between mt-4">
		    <div class="justify-content-start"><%= link_to "Create Chatrooms", new_chatroom_path, class: "btn btn-primary btn-lg mt-2" %></div>
		    <% if !logged_in? %>
		    	<div class="justify-content-center"><%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg mt-2" %></div>
		    <% else %>
				<div class="justify-content-center"><%= link_to "View Profile", user_path(current_user), class: "btn btn-primary btn-lg mt-2" %></div>		    
		    <% end %>
		    <div class="justify-content-end"><%= link_to "Random Chats", new_chatroom_path, class: "btn btn-primary btn-lg mt-2" %></div>
		</div>
	

	<br>
  <h1 class="text-center mt-4">ChatRooms</h1>
  <br>
  <div class="input-group">
	  <input type="search" class="form-control rounded" placeholder="Search the Chatrooms" aria-label="Search"
	    aria-describedby="search-addon" />
	  <button type="button" class="btn btn-outline-primary">search</button>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @chatroom, :container => false %>
  </div>
  <%= render 'chatroom' %>
  <div class="apple_pagination mb-4">
    <%= will_paginate @chatroom, :container => false %>
  </div>
  </div>
</div>